#recent .thumbnail {
  text-align: center;
}

#recent .thumbnail img {
  width: 205px;
  height: 154px;
}

#recent .thumbnail .caption {
  text-align: left;
}

#recent .thumbnail .description {
  color: #333;
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#recent .thumbnail .created_at {
  text-transform: none;
}

#recent .thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}


iframe.preview {
  border: none;
  width: 100%;
  height: 300px;
}