#recent a.thumbnail {
}

#recent a.thumbnail img {
  width: 205px;
  height: 154px;
}

#recent a.thumbnail p.description {
  color: #333;
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#recent a.thumbnail:hover {
  text-decoration: none;
}


iframe.preview {
  border: none;
  width: 100%;
  height: 300px;
}