extends layout

prepend title
  page_title = "Editor"

append scripts
  script(type="text/javascript",src="/js/cromag.min.js")
  script(type="text/javascript",src="/js/underscore.min.js")
  script(type="text/javascript",src="/js/backbone.min.js")
  script(type="text/javascript",src="/js/handlebars.js")


append content
  h1 Coming soon!