!!! 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title Plunker - Editor
    link(rel="stylesheet",href="/css/bootstrap.min.css")
    link(rel="stylesheet",href="/css/editor.css")
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    script(type="text/javascript",src="/js/jquery.min.js")
    script(type="text/javascript",src="/js/bootstrap.min.js")
    script(type="text/javascript",src="/js/cromag.min.js")
    script(type="text/javascript",src="/js/underscore.min.js")
    script(type="text/javascript",src="/js/backbone.min.js")
    script(type="text/javascript",src="/js/handlebars.js")

    script(type="text/javascript",src="/js/ace/ace.js")

    script(src="/js/script.min.js")

    != js("importers/github")

    != js("models/plunks")
    != js("models/edit_session")

    != js("views/editor")
    != js("views/previewer")
    != js("views/sidebar")
    != js("views/toolbar")

    != js("editor")

  body
    nav.navbar.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          a.brand(href="/") Plunker
          div#toolbar
    div#content(class=views)
      div#sidebar
        h2.header Files
        ul.files
        div.operations
          button.btn.btn-mini.add
            i.icon-plus
          button.btn.btn-mini.remove
            i.icon-minus
          button.btn.btn-mini.pull-right.config
            i.icon-cog
      div#edit-preview
        div#editor
        div#preview
          iframe(frameborder="0",marginheight="0",marginwidth="0",width="100%",height="100%")