!!! 5
html
  head
    title Plunker
    link(rel="stylesheet",href="style/bootstrap.css")
    link(rel="stylesheet",href="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css")
    link(rel="stylesheet",href="style/plunker.css")
    script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(type="text/javascript",src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js")
    script(type="text/javascript",src="lib/jquery.lazyload.min.js")
    script(type="text/javascript",src="lib/bootstrap.js")
    script(type="text/javascript",src="lib/plunker.js")
  body(data-spy="scroll")
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href="#") Plunker
          ul.nav
            li: a(href="#browse") Recent plunks
            li: a(href="#api") Public API
            li: a(href="#gist") Load gists
    div.container
      div.hero-unit
        h1#description Welcome to Plunker!
        p.
          Plunker is an ultra-simple webservice that allows client-side apps
          to create, manage and preview simple static webpages. Consider it
          a sort of <a href="http://jsfiddle.net">jsFiddle</a> without the
          interface with a publicly accessible and CORS-friendly API.
      section#browse
        div.page-header
          h1 Recent plunks
        div.row
          div.span12
            p.
              This is a list of the last few plunks that were created. The images
              are provided courtesy of the service at
              <a href="http://immediatenet.com/thumbnail_api.html">Immedianet</a>.
              Because they provide a free service, it is possible that not all
              plunks' renderings will be available.
            p.
              The images may take a few seconds to load at their first viewing.
              Please be patient.
            ul#recent.thumbnails
      section#api
        div.page-header
          h1 Public API
        div.row
          div.span12
            :markdown
              ## Create a plunk
              
              `POST  http://plunker.no.de/api/v1/plunks`
              
              Request body:
              
                  {
                    "description": "Optional description of the plunk", // Optional
                    "index": "index.html",  // Optional (if provided must have a corresponding file entry, otherwise must provide index.html)
                    "files": { // Required
                      // Inline format below for defining files (filename => content)
                      "index.html": "<html><head><link rel=\"stylesheet\" href=\"style/style.css\" /><script src=\"https://raw.github.com/JerrySievert/cromagjs/master/cromag.js\"></script></head><body><h1>Header</h1></body><p>If the header above is red, that means that both this file (index.html) and the stylesheet (style.css) were property served by plunker.</p></html>",
                      // Complete format below for defining files (filename => file description)
                      "style/style.css": {
                        "mime": "text/css", // Optional (will be guessed otherwise based on filename)
                        "encoding": "utf-8", // Optional (will be guessed otherwise based on mime type)
                        "content": "h1 { color: red }" // Required if using object format
                      }
                    }
                  }
              
              Response:
              
                  {
                    "ttl": 172774, // Time-to-live for the plunk in seconds
                    "expires": "2012-02-03T16:46:19.013Z", // The ISO 8601 timestamp of the expiry time
                    "token": "6ugRyNV8hC8MzYmG", // The _private_ token that should be retained to allow updating the plunk
                    "files": {
                      "style.css": {
                        "encoding": "UTF-8",
                        "filename": "style.css",
                        "content": "h1 { color: red }",
                        "mime": "text/css"
                      },
                      "index.html": {
                        "encoding": "UTF-8",
                        "filename": "index.html",
                        "content": "<html><head><link rel=\"stylesheet\" href=\"style.css\" /><script src=\"https://raw.github.com/JerrySievert/cromagjs/master/cromag.js\"></script></head><body><h1>Header</h1></body><p>If the header above is red, that means that both this file (index.html) and the stylesheet (style.css) were property served by plunker.</p></html>",
                        "mime": "text/html"
                      }
                    },
                    "url": "http://stsh.ggoodman.c9.io/6oNzNy/", // The public url that can be used to preview the plunk
                    "id": "6oNzNy", // The plunk's internal id (not guaranteed to map to the url)
                    "index": "index.html" // The default file to be served at the url
                  }
              
              ## Retrieve a plunk
              
              `GET  http://plunker.no.de/api/v1/plunks/:id`
              
              Response:
              
                  {
                    "ttl": 172774, // Time-to-live for the plunk in seconds
                    "expires": "2012-02-03T16:46:19.013Z", // The ISO 8601 timestamp of the expiry time
                    "token": "6ugRyNV8hC8MzYmG", // This will only be returned if the correct token was provided in the query string or in the Authorization header
                    "files": {
                      "style.css": {
                        "encoding": "UTF-8",
                        "filename": "style.css",
                        "content": "h1 { color: red }",
                        "mime": "text/css",
                        "url": "http://stsh.ggoodman.c9.io/6oNzNy/style.css", // The public url of the file
                      },
                      "index.html": {
                        "encoding": "UTF-8",
                        "filename": "index.html",
                        "content": "<html><head><link rel=\"stylesheet\" href=\"style.css\" /><script src=\"https://raw.github.com/JerrySievert/cromagjs/master/cromag.js\"></script></head><body><h1>Header</h1></body><p>If the header above is red, that means that both this file (index.html) and the stylesheet (style.css) were property served by plunker.</p></html>",
                        "mime": "text/html",
                        "url": "http://stsh.ggoodman.c9.io/6oNzNy/index.html", // The public url of the file
                      }
                    },
                    "url": "http://stsh.ggoodman.c9.io/6oNzNy/", // The public url that can be used to preview the plunk
                    "id": "6oNzNy", // The plunk's internal id (not guaranteed to map to the url)
                    "index": "index.html" // The default file to be served at the url
                  }
              
              ## Update a plunk
              
              `PATCH	http://plunker.no.de/api/v1/plunks/:id`
              
              Not yet implemented
              
              ## Destroy a plunk
              
              `DELETE	http://plunker.no.de/api/v1/plunks/:id`
  
              Not yet implemented
      section#gist
        div.page-header
          h1 Create a plunk from a gist
        div.row
          div.span12
            :markdown
              You can use a special url to easily import gists into plunker.
              You can think of this as an alternative to [bl.ocks.org](http://bl.ocks.org)
              that creates a short-term copy of the gist instead of acting as
              a proxy to [Github](http://github.com).

              To use this, refer to the url pattern: `http://plunker.no.de/gist/[gistid]`
              and replace `[gistid]` with the appropriate id of the gist.

              ## Index detection

              Plunker will try and automatically detect the 'index' file which
              defaults to _index.html_, or the first .html/.htm file. If no html
              files are found, it will simply use the first file.

              ## Manual index

              You can manually specify an index by appending `?index=[file]` to
              the query string. Plunker will throw an error if that file does
              not exist in the gist.

              ### Example
              
              `http://plunker.no.de/gist/1198937&file=index.html`

              Not that in the above case, index would have been used anyway.
      hr
      footer
        p &copy; Filearts (2012)
