extends layout

prepend title
  page_title = "Welcome to Plunker!"


append scripts
  script(type="text/javascript",src="/js/jquery.lazyload.min.js")
  script(type="text/javascript",src="/js/jquery.timeago.js")
  script(type="text/javascript",src="/js/cromag.min.js")
  script(type="text/javascript",src="/js/underscore.min.js")
  script(type="text/javascript",src="/js/backbone.min.js")
  script(type="text/javascript",src="/js/handlebars.js")


  != js("landing")


append content
  section#marketing
    div.page-header
      h1 Plunker lets you edit, fork and preview web snippets online
      p.byline
        | Try it out. Take any gist url and pop it in the box below.
        | Alternatively, try out the
        a(href="/edit") Editor
        | &nbsp;or join the live
        a(href="/edit?stream=stream&live=compile") Discussion
        | &nbsp;.
    div.row
      div.span12
        form#importer.form-search.gist-import.well(action="",method="get")
          div.progress.progress-striped.progress-info.active
            div.bar
          input#importer-input.gist(type="text",placeholder="Gist ID or url")
          | &nbsp;
          a.btn.btn-large.btn-primary(type="submit") Import
      div.span3
        h2 Features
        ul
          li: strong Arbitrary number of files
          li: strong Make internal XHR requests
          li: a(href="/documentation") RESTful API
          li: a(href="/edit") Online, multi-file editor
          li: a(href="#browse") Gallery of recent plunks
          li: a(href="https://github.com/ajaxorg/ace",target="_blank") ACE editor

      div.span6
        h2 What were you thinking?
        p.
          There are some pretty amazing services out there already. Why would
          anyone try and reinvent the wheel <i>again</i>?
        ol
          li.
            <b>For fun and for profit</b>. OK. Just for fun. And I had a lot of it
            learning about node.js, Express and the whole asynchronous js world.
          li.
            <b>Dissatisfaction with existing services</b>. They're good and all
            but I wanted to make internal XHR and have tons of files.
        p.
          Just go ahead and check out the <a href="/edit">editor</a> and you'll
          see.

      div.span3
        h2 Inspiration
        ul
          li: a(href="http://jsFiddle.net",target="_blank") jsFiddle
          li: a(href="http://jsbin.com",target="_blank") JS Bin
          li: a(href="http://dabblet.com",target="_blank") Dabblet
          li: a(href="http://gist.github.com",target="_blank") Github's Gist
          li: a(href="http://tinker.io",target="_blank") Tinker
          li: a(href="http://bl.ocks.org/") bl.ocks.org
        
      div.span12
        ul.quick-links
          li
            iframe.github-btn(src="http://markdotto.github.com/github-buttons/github-btn.html?user=ggoodman&repo=stsh&type=watch&count=true",allowtransparency="true",frameborder="0",scrolling="0",width="112px",height="20px")
          li
            iframe.github-btn(src="http://markdotto.github.com/github-buttons/github-btn.html?user=ggoodman&repo=stsh&type=fork&count=true",allowtransparency="true",frameborder="0",scrolling="0",width="95px",height="20px")
          li.addthis
            div.addthis_toolbox.addthis_default_style
              a.addthis_button_tweet(tw:href="http://plunker.no.de",tw:text="Check out Plunker! Its a lightning fast environment for creating and sharing code snippets online.",tw:via="g_goodman")
              a.addthis_button_twitter_follow_native(tf:screen_name="g_goodman")
              a.addthis_button_google_plusone(g:plusone:size="medium",g:plusone:href="http://plunker.no.de")
              a.addthis_counter.addthis_pill_style

  section#browse
    div.page-header
      h1 Gallery
    div.row
      div.span12
        p.
          This is a list of the last few plunks that were created. The images
          are provided courtesy of the service at
          <a href="http://immediatenet.com/thumbnail_api.html">Immedianet</a>.
          Because they provide a free service, it is possible that not all
          plunks' renderings will be available. Please be patient while they load.

        ul#recent.thumbnails
      div.span12
        ul#pager.pager
          