extends layout

append scripts
  script(type="text/javascript",src="/lib/jquery.lazyload.min.js")
  script(type="text/javascript",src="/lib/jquery.timeago.js")
  script(type="text/javascript",src="/lib/cromag.min.js")
  script(type="text/javascript",src="/lib/underscore.min.js")
  script(type="text/javascript",src="/lib/backbone.min.js")
  script(type="text/javascript",src="/lib/handlebars.js")
  script(type="text/javascript",src="/lib/plunker.js")

append content
  section#marketing
    div.page-header
      h1 Plunker is a RESTful service for hoisting web snippets online
      p.byline To try it out, paste the id or url of a gist below and cross your fingers
    div.row
      div.span12
        form.form-search.gist-import.well(action="",method="get")
          input.gist(type="text",placeholder="Gist ID or url")
          | &nbsp;
          button.btn.btn-large.btn-primary(type="submit") Import
  section#browse
    div.page-header
      h1 Gallery
    div.row
      div.span12
        p.
          This is a list of the last few plunks that were created. The images
          are provided courtesy of the service at
          <a href="http://immediatenet.com/thumbnail_api.html">Immedianet</a>.
          Because they provide a free service, it is possible that not all
          plunks' renderings will be available. Please be patient while they load.

        ul#recent.thumbnails