extends layout

prepend title
  page_title = "Welcome to Plunker!"

append scripts
  script(type="text/javascript",src="/js/jquery.lazyload.min.js")
  script(type="text/javascript",src="/js/jquery.timeago.js")
  script(type="text/javascript",src="/js/cromag.min.js")
  script(type="text/javascript",src="/js/underscore.min.js")
  script(type="text/javascript",src="/js/backbone.min.js")
  script(type="text/javascript",src="/js/handlebars.js")

  != js("importers/github")
  != js("models/plunks")
  != js("views/cards")
  != js("views/importer")
  != js("landing")

append content
  section#marketing
    div.page-header
      h1 Plunker is a RESTful service for hoisting web snippets online
      p.byline To try it out, paste the id or url of a gist below and cross your fingers
    div.row
      div.span12
        form#importer.form-search.gist-import.well(action="",method="get")
          div.progress.progress-striped.progress-info.active
            div.bar
          input#importer-input.gist(type="text",placeholder="Gist ID or url")
          | &nbsp;
          a.btn.btn-large.btn-primary(type="submit") Import
      div.span12
        ul.quick-links
          li
            iframe.github-btn(src="http://markdotto.github.com/github-buttons/github-btn.html?user=ggoodman&repo=stsh&type=watch&count=true",allowtransparency="true",frameborder="0",scrolling="0",width="112px",height="20px")
          li
            iframe.github-btn(src="http://markdotto.github.com/github-buttons/github-btn.html?user=ggoodman&repo=stsh&type=fork&count=true",allowtransparency="true",frameborder="0",scrolling="0",width="95px",height="20px")
          li.tweet-btn
            a.twitter-share-button(href="https://twitter.com/share",data-url="http://plunker.no.de",data-text="Check out Plunker. Its a RESTful webservice for hoisting web snippets online.",data-via="g_goodman",data-count="horizontal",data-width="225px") Tweet
          li.follow-btn
            a.twitter-follow-button(href="https://twitter.com/g_goodman",data-show-count="true") Follow @g_goodman
          li.gplus-btn
            div.g-plusone(data-size="medium",data-href="http://plunker.no.de")

  section#browse
    div.page-header
      h1 Gallery
    div.row
      div.span12
        p.
          This is a list of the last few plunks that were created. The images
          are provided courtesy of the service at
          <a href="http://immediatenet.com/thumbnail_api.html">Immedianet</a>.
          Because they provide a free service, it is possible that not all
          plunks' renderings will be available. Please be patient while they load.

        ul#recent.thumbnails
  script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  script
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
