pages = { "/documentation": "Documentation", "/about": "About", "/edit": "Editor" }

!!! 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    block title
      if (typeof page_title != "undefined")
        title Plunker - #{page_title}
      else
        title Plunker
    block styles
      link(rel="stylesheet",href="/css/bootstrap.min.css")
      link(rel="stylesheet",href="/css/plunker.css")
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    block scripts
      script(type="text/javascript",src="/js/jquery.min.js")
      script(type="text/javascript",src="/js/bootstrap.min.js")
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28929036-1']);
      _gaq.push(['_trackPageview']);
  
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  
  body
    nav.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar

          a.brand(href="/") Plunker

          div.nav-collapse
            ul.nav
              each text, url in pages
                if url == page
                  li(class="active"): a(href=url)= text
                else
                  li: a(href=url)= text
    div.container
      block content
      hr
      footer
        p Built by <a href="https://github.com/ggoodman">Geoff Goodman</a> (<a href="http://twitter.com/g_goodman">@g_goodman</a>)
        p &copy; Filearts (2012) (<a href="http://twitter.com/filearts">@filearts</a>)

    script
      var addthis_config = {
        data_ga_property: 'UA-28929036-1',
        data_ga_social : true
      };
    script(type="text/javascript",src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f60c7714e5b5629")

