!!! 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet",href="/css/preview.css")
    title Plunker
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    script(type="text/javascript",src="/js/jquery.min.js")

    != js("preview")

  body
    div#container
      div#operations
        a(href="/edit/#{plunk_id}",title="Edit this page in Plunker") Tweak
      iframe#plunk(frameborder="0",height="100%",width="100%",src=raw_url)

    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28929036-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
