
#wrap {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  min-width: 475px;
  overflow: auto;
}

#wrap .navbar-fixed-top {
  position: absolute;
}

#toolbar {
  position: absolute;
  right: 0; top: 0; bottom: 0;
  width: auto;
}

#toolbar .btn-toolbar {
  margin: 0 0 0 16px; padding: 0;
  display: inline-block;
}


#toolbar select {
  margin: 0;
  float: left;
}

#toolbar .run .run-stop {
  display: none;
}

#toolbar .run.active .run-stop {
  display: inline;
}

#toolbar .run.active .run-start {
  display: none;
}

@media (max-width: 606px) {
  #toolbar .btn span.text {
    display: none;
  }
}

#content {
  position: absolute;
  left: 0; top: 40px; right: 0; bottom: 0;
  overflow: hidden;
}

#sidebar {
  display: none;
  position: absolute;
  left: 0; top: 0; bottom: 0;
  width: 160px;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding: 0 14px;
}

.sidebar #sidebar {
  display: block;
}

#sidebar .header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999;
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

#sidebar ul {
  margin-left: -15px;
  margin-right: -15px;
}

#sidebar ul, #sidebar li {
  list-style: none;
}

#sidebar li {
  display: block;
  line-height: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 3px 15px;
}

#sidebar li:hover {
  text-decoration: none;
  background-color: #eeeeee;
  cursor: pointer;
}

#sidebar li.active {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}

#sidebar .operations {
  position: absolute;
  left: 0; bottom: 0; right: 0;
  border-top: 1px solid #e6e6e6;
  background-color: #E8E8E8;
}

#sidebar .operations button.btn {
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#edit-live {
  position: absolute;
  left: 0; top: 0; right: 0px; bottom: 0;
}

.sidebar #edit-live {
  left: 160px;
}


#editor {
  display: none;
  box-sizing: border-box;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  border-left: 4px solid #9B9B9B;
  border-right: 4px solid #9B9B9B;
}

.editor #editor {
  display: block;
}

.live #editor {
  right: 50%;
}


#live {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.live #live {
  display: block;
}

.editor #live {
  left: 50%;
}

#live .title {
  position: absolute;
  top: 0; right: 0;
  background-color: #ccc;
  z-index: 2;
}

#live .compiled {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: auto;
  background-color: #eeeeee;
}

#live iframe {
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
  border: 0;
}

#live .ace_editor {
   font-family: 'Monaco', 'Menlo', 'Droid Sans Mono', 'Courier New', monospace;
   font-size: 12px;
   border: 0; margin: 0; padding: 0;
   width: 100%;
   height: 100%;
   overflow-y: scroll;
}

#live .ace_editor .ace_gutter { 
    width: 25px !important;
    display: block;
    float: left;
    text-align: right; 
    padding: 0 3px 0 0; 
    margin-right: 3px;
    border: 0;
}

#live .ace_line { clear: both; }

#live *.ace_gutter-cell {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}