#toolbar .btn-toolbar {
  margin: 0; padding: 0;
}

#toolbar select {
  margin: 0;
  float: left;
}

#content {
  position: absolute;
  left: 0; top: 40px; right: 0; bottom: 0;
  overflow: hidden;
}

#sidebar {
  display: none;
  position: absolute;
  left: 0; top: 0; bottom: 0;
  width: 160px;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding: 0 14px;
}

.sidebar #sidebar {
  display: block;
}

#sidebar .header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999;
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

#sidebar ul {
  margin-left: -15px;
  margin-right: -15px;
}

#sidebar ul, #sidebar li {
  list-style: none;
}

#sidebar li {
  display: block;
  line-height: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 3px 15px;
}

#sidebar li:hover {
  text-decoration: none;
  background-color: #eeeeee;
  cursor: pointer;
}

#sidebar li.active {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}

#sidebar .operations {
  position: absolute;
  left: 0; bottom: 0; right: 0;
  border-top: 1px solid #e6e6e6;
  background-color: #E8E8E8;
}

#sidebar .operations button.btn {
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#edit-preview {
  position: absolute;
  left: 0; top: 0; right: 0px; bottom: 0;
}

.sidebar #edit-preview {
  left: 160px;
}


#editor {
  display: none;
  box-sizing: border-box;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  border-left: 4px solid #9B9B9B;
  border-right: 4px solid #9B9B9B;
}

.editor #editor {
  display: block;
}

.preview #editor {
  right: 50%;
}


#preview {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.preview #preview {
  display: block;
}

.editor #preview {
  left: 50%;
}

#preview iframe {
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
  border: 0;
}