body {
  padding-top: 60px;
  position: relative;
}

@media (max-width: 980px) {
  body {
    padding-top: 0;
  }
}

@media (max-width: 499px) {
  .span3.plunk {
    width: auto;
    display: block;
  }
}

.quick-links {
  min-height: 30px;
  padding: 5px 20px;
  margin: 0;
  list-style: none;
  text-align: center;
  overflow: hidden;
}
.quick-links li {
  display: inline;
  margin: 0 5px;
  color: #999;
  height: 16px;
}
.quick-links .github-btn,
.quick-links .tweet-btn,
.quick-links .follow-btn,
.quick-links .gplus-btn {
  position: relative;
  top: 5px;
}
.quick-links .gplus-btn>div {
  float: right;
}

pre.headers {
  margin-bottom: 0;
  border-bottom-width: 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  color: #666;
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -ms-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -o-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: linear-gradient(top, #f1f1f1, #e1e1e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

pre.no-response {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px 3px;
  border-radius: 3px 3px;
  border-color: #ccc;
  border-color: solid rgba(0, 0, 0, 0.15);
}

pre.headers + pre.body {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

#marketing h1 {
  margin: 36px 0 27px;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

#marketing .byline {
  margin: -18px 0 27px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  color: #999;
  text-align: center;
}

form.gist-import {
  text-align: right;
  position: relative;
}

form.gist-import input.gist {
  font-size: 15px;
  height: 27px;
  position: absolute;
  width: auto;
  top: 19px;
  left: 19px;
  right: 109px;
}

form.gist-import button {
}

#importer .progress {
  display: none;
  height: 37px;
  position: absolute;
  width: auto;
  top: 19px;
  left: 19px;
  right: 109px;
}

#importer .progress .bar {
  height: 37px;
  width: 0%;
}

#importer.import input.gist {
  display: none;
}
#importer.import div.progress {
  display: block;
}

#recent .plunk.authorized .thumbnail {
  background-color: #efe;
}

#recent .thumbnail {
  text-align: center;
  position: relative;
}

#recent .thumbnail a {
}

#recent .thumbnail img {
  width: 205px;
  height: 154px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

#recent .thumbnail .caption {
  text-align: left;
  height: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#recent .thumbnail .description {
  color: #333;
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#recent .thumbnail .created_at {
  text-transform: none;
}

#recent .thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

#recent .operations {
  display: none;
}

#recent .thumbnail:hover .operations {
  display: block;
  position: absolute;
  right: 8px;
  bottom: 0;
}

iframe.preview {
  border: none;
  width: 100%;
  height: 300px;
}