html {
  margin: 0; padding: 0;
  height: 100%;
}

#container, #plunk {
  margin: 0; padding: 0;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  overflow: hidden;
}

#plunk {
  overflow: auto;
}

#operations {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  position: absolute;
  top: -1px;
  right: 20px;
  z-index: 1000;
  background-color: #eee;
  font-family: sans-serif;
}

#operations a {
  padding: 0 0.5em;
  text-decoration: none;
  color: #333;
}
#operations a:hover {
  text-decoration: underline;
}