@import url(http://fonts.googleapis.com/css?family=Exo:900);


#wrap {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  min-width: 335px;
  overflow: auto;
}

#wrap .navbar-fixed-top {
  position: absolute;
}

#content {
  position: absolute;
  left: 0; top: 40px; right: 0; bottom: 0;
  overflow: hidden;
}

.navbar .brand {
  background: rgba(0,0,0,0.0) url('../img/plunker.png') no-repeat left top;
  background-size: 40px;
  font-family: 'Exo', sans-serif;
  font-size: 24px;
  padding: 8px 20px 8px 40px;
}

.navbar .container-fluid {
  height: 40px;
  overflow: hidden;
}

#toolbar {
  position: absolute;
  right: 8px; top: 0; bottom: 0;
  width: auto;
}

#toolbar .btn-toolbar {
  margin: 0 0 0 8px; padding: 0;
  display: inline-block;
}

#toolbar .btn-group+.btn-group {
  margin-left: 2px;
}


#toolbar select {
  margin: 0;
  float: left;
}

#toolbar .btn-toolbar {
  height: 40px;
}

#toolbar .run .run-stop {
  display: none;
}

#toolbar .run.active .run-stop {
  display: inline;
}

#toolbar .run.active .run-start {
  display: none;
}


#toolbar .stream-disable {
  display: none;
}

#toolbar.streamed .stream-disable {
  display: inline-block;
}

#toolbar.streamed .stream-enable {
  display: none;
}

#toolbar.streamed .group-new {
  display: none;
}
#toolbar .btn-toolbar.streamer {
  vertical-align: top;
}
#toolbar .btn-toolbar.streamer .status {
  vertical-align: top;
}
#toolbar .btn-toolbar.streamer .status .input-prepend {
  margin-top: 5px;
}

#toolbar .btn-toolbar.streamer .status span.add-on {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
#toolbar .btn-toolbar.streamer .status input {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 0;
  cursor: text;
  width: auto;
}

#toolbar .btn-toolbar.streamer .status .stop {
  margin-top: 0;
  height: auto;
}



#loading {
  display: none;
  position: absolute;
  left: 0; top: 0px; right: 0; bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3)
}

.loading #loading {
  display: block;
}

#sidebar {
  display: none;
  position: absolute;
  left: 0; top: 0; bottom: 0;
  width: 160px;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding: 0 14px;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar #sidebar {
  display: block;
}

#sidebar .header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999;
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

#sidebar ul {
  margin-left: -15px;
  margin-right: -15px;
}

#sidebar ul, #sidebar li {
  list-style: none;
}

#sidebar li {
  display: block;
  line-height: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 3px 15px;
}

#sidebar li:hover {
  text-decoration: none;
  background-color: #eeeeee;
  cursor: pointer;
}

#sidebar li .marker {
  display: none;
}

#sidebar li.active {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}

#sidebar li.changed {

}

#sidebar li.changed .marker {
  display: inline;
  font-weight: bold;
  text-shadow: 0px 0px 3px #000000;
  filter: dropshadow(color=#000000, offx=0, offy=0);
}

#sidebar .operations {
  position: absolute;
  left: 0; bottom: 0; right: 0;
  border-top: 1px solid #e6e6e6;
  background-color: #E8E8E8;
}

#sidebar .operations button.btn {
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#sidebar .description {
  width: 122px;
}

#sidebar .theme {
  width: 122px;
}

#edit-live {
  position: absolute;
  left: 0; top: 0; right: 0px; bottom: 0;
}

.sidebar #edit-live {
  left: 160px;
}


#textarea {
  display: none;
  box-sizing: border-box;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  border-left: 4px solid #9B9B9B;
  border-right: 1px solid #9B9B9B;
}

.editor #textarea {
  display: block;
}

.live #textarea {
  right: 50%;
}


#live {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: #eeeeee;
}

.live #live {
  display: block;
}

.editor #live {
  left: 50%;
}

#live .title {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  position: absolute;
  top: -1px;
  right: 30px;
  z-index: 20;
  background-color: #eee;
  font-family: sans-serif;
  color: #333;
  padding: 0 4px;
}

#live .preview {
  position: absolute;
  top: 5px; right: 5px; bottom: 5px; left: 5px;
  overflow: auto;
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px rgba(50, 50, 50, 1);
  -moz-box-shadow:    0px 0px 15px rgba(50, 50, 50, 1);
  box-shadow:         0px 0px 15px rgba(50, 50, 50, 1);
}

#live .compiled {
  position: absolute;
  top: 5px; right: 5px; bottom: 5px; left: 5px;
}

#live iframe {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  margin: 0; padding: 0;
  border: 0;
}

#live .ace_editor {
   font-family: 'Monaco', 'Menlo', 'Droid Sans Mono', 'Courier New', monospace;
   font-size: 12px;
   border: 0; margin: 0; padding: 0;
   width: 100%;
   height: 100%;
   overflow-y: scroll;
}

#live .ace_editor .ace_gutter { 
    width: 25px !important;
    display: block;
    float: left;
    text-align: right; 
    padding: 0 3px 0 0; 
    margin-right: 3px;
    border: 0;
}

#live .ace_line { clear: both; }

#live *.ace_gutter-cell {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#live .jshint-report {
  margin: 15px;
  color: #404040;
}

#live ul.jshint-errors {
  margin: 15px;
  list-style-type: none;
}

#live ul.jshint-errors li {
  margin-bottom: 15px;
}


@media (max-width: 672px) {
  #toolbar .btn-toolbar.streamer .status input {
    display: none;
  }
  #toolbar .btn span.text {
    display: none;
  }
}

@media (max-width: 506px) {
  .navbar .brand {
    width: 0px;
    text-indent: -9999px;
    background-size: 30px;
    font-size: 14px;
    padding: 8px 20px 8px 30px;
  }
  
  .navbar .container-fluid {
    height: 30px;
  }
  
  #content {
    top: 30px;
  }
  
  #toolbar .btn.add-on {
    height: 14px;
  }
  
  #toolbar .btn, #toolbar .add-on {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 14px;
    height: auto;
  }
}